MONGO_URI=mongodb+srv://kcprabin2063_db_user:rambabu123@data.pstsfqw.mongodb.net/?appName=Data
MONGO_DB_NAME=ghumgham
REDIS_HOST=redis
REDIS_PORT=6379
PORT=6001
NODE_ENV=development
JWT_SECRET=your_secret_here
FRONTEND_URL=http://localhost:5173
ADMIN_FRONTEND_URL=http://localhost:3000
