MONGO_URI=
MONGO_DB_NAME=ghumgham
REDIS_HOST=redis
REDIS_PORT=6379
PORT=6001
NODE_ENV=development
JWT_SECRET=Hdln1XysAkk2t5mYwQvvKwg18iUUOJgOnWkioM7iSU5rEpxU-mhdz9UqwS5j3MQH
FRONTEND_URL=http://localhost:5173
ADMIN_FRONTEND_URL=http://localhost:3000
